.dummyPostBtn{
  white-space: unset;
  text-align: left
}

.myName {
  font-family: monospace;
  font-weight: bold
}
.mt24{
  margin-top: 24px;
}

.button-padding{
  padding-left:12px
}
.mobile-padding{
  padding-left: 12px;
  padding-right: 12px
}
.mobile-bottom-margin{
  margin-bottom: 24px;
}
.pad-bottom{
  padding-bottom:36px;
}

@media only screen and (min-width: 768px) {
  .mobile-padding{
    padding-left: 0px;
    padding-right: 0px
  }
  .mobile-bottom-margin{
    margin-bottom: 0px;
  }
}
